{
  "openapi": "3.1.0",
  "info": {
    "title": "Chopcast",
    "description": "Chopcast lets users create short clips from long videos such as podcasts, tv shows for social media.",
    "version": "1.0.0",
    "termsOfService": "https://www.chopcast.io/hubfs/Tribetactics%20Limited%20T_A%20Chopcast%20Terms%20of%20Service%20-%20Jan%204%202023.pdf",
    "contact": {
      "name": "Chopcast API Support",
      "url": "https://www.chopcast.io/contact-us",
      "email": "support@example.com"
    }
  },
  "servers": [
    {
      "url": "https://api.chopcast.io/api/v1"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/videos/youtube/": {
      "post": {
        "summary": "Upload youtube video",
        "description": "Downloads the video from given youtube url and creates the clips",
        "requestBody": {
          "description": "Video to create clips from.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Youtube_video"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "video response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/video"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/auth/jwt/create/": {
      "post": {
        "summary": "Create JWT (JSON Web Token)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SampleTokenResponse"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/key/create/": {
      "post": {
        "description": "Endpoint to create a new API-Key for the requesting user",
        "summary": "Create API key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the api key"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApiKeyResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/clips/": {
      "get": {
        "parameters": [
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "video",
            "in": "query",
            "description": "This parameter allows you to filter clips based on their association with a specific video using its unique identifier (UUID).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/clip_response"
          }
        }
      }
    },
    "/clips/{uuid}/export/": {
      "get": {
        "description": "Endpoint to list export jobs of clip",
        "summary": "List export jobs of clip",
        "tags": [
          "Export Job"
        ],
        "parameters": [
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "A UUID string identifying this clip.",
            "required": true
          },
          {
            "in": "query",
            "name": "video",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClipExportResponse"
          }
        }
      },
      "post": {
        "description": "Endpoint to export clip, creates export job and return its details",
        "summary": "Export clip",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "A UUID string identifying this clip.",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "burn_subtitles": {
                    "type": "boolean",
                    "example": true
                  },
                  "highlight_subtitle_word": {
                    "type": "boolean",
                    "example": true
                  },
                  "preview_height": {
                    "type": "integer",
                    "format": "int32",
                    "example": 2147483647
                  },
                  "preview_width": {
                    "type": "integer",
                    "format": "int32",
                    "example": 2147483647
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/ClipExportCreateResponse"
          }
        }
      },
      "delete": {
        "description": "Endpoint to cancel export job of clip if any",
        "summary": "Cancel current export job",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "A UUID string identifying this clip.",
            "required": true
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Youtube_video": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "youtube_url": {
            "type": "string",
            "format": "uri"
          },
          "folder": {
            "type": "string"
          },
          "with_acg": {
            "type": "boolean"
          },
          "number_of_clips": {
            "type": "integer",
            "format": "int32"
          },
          "length_of_clip": {
            "type": "integer",
            "format": "int32"
          },
          "video_topic_list": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "video_for_platform": {
            "type": "string"
          },
          "parts_to_find": {
            "type": "string"
          },
          "callback_url": {
            "type": "string"
          }
        },
        "required": [
          "youtube_url"
        ]
      },
      "video": {
        "example": {
          "uuid": "4d71b287-0887-447f-b11d-08a70a8c2373",
          "clips": 0,
          "format": null,
          "ready": true,
          "created_at": "2023-10-25T10:34:47.722821Z",
          "updated_at": "2023-10-25T10:34:47.722837Z",
          "name": "Piers Morgan slams Megan Rapinoe: 'She's the world's most annoying sports star'",
          "parts_to_find": null,
          "video_for_platform": null,
          "length_of_clip": null,
          "video_topic_list": null,
          "number_of_clips": null,
          "video_file": null,
          "audio_file": null,
          "_text_clusters": null,
          "keymoments": null,
          "thumbnail": null,
          "width": null,
          "height": null,
          "duration": null,
          "transcription_status": "pending",
          "acg_status": "pending",
          "deduct_credit": true,
          "audio_features": null,
          "audio_cleaned": false,
          "like": false,
          "dislike": false,
          "folder": null
        }
      },
      "clip": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "video": {
            "type": "string"
          },
          "clip_cuts": {
            "type": null
          },
          "start_time": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "end_time": {
            "type": "number"
          },
          "video_duration": {
            "type": "number"
          },
          "clip_duration": {
            "type": "number"
          },
          "clip_duration_before_cuts": {
            "type": "number"
          },
          "created_by": {
            "type": "string"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "fit_color": {
            "type": "string"
          },
          "is_dirty": {
            "type": "boolean"
          },
          "format": {
            "type": "string"
          },
          "resize_type": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "is_acg": {
            "type": "boolean"
          },
          "video_format": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "audio_features": {
            "type": null
          },
          "audio_cleaned": {
            "type": "boolean"
          },
          "like": {
            "type": "boolean"
          },
          "dislike": {
            "type": "boolean"
          }
        }
      }
    },
    "responses": {
      "SampleTokenResponse": {
        "description": "Sample response with tokens",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "refresh": {
                  "type": "string",
                  "example": "Jhbfsff6IkpXVCJ9.eyJb2tlbBlIjoicmVmcmVzaCIsImV4cC1MywianRpIjoiYjNlYWZiYTIyMGJmNDcyM2E3ZWRiNWY2NTY8..."
                },
                "access": {
                  "type": "string",
                  "example": "eyJhbs1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl9NjZXNzIiwiZXhwIjoxNjk4Mzk0NTUzLCJhc3QuaW8ifQ.WJjQr6P4631Dty8_34ses..."
                }
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Unauthorized: No active account found with the given credentials",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              },
              "example": {
                "detail": "No active account found with the given credentials"
              }
            }
          }
        }
      },
      "ApiKeyResponse": {
        "description": "Api Key created",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "prefix": {
                      "type": "string"
                    },
                    "hashed_key": {
                      "type": "string"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "name": {
                      "type": "string"
                    },
                    "revoked": {
                      "type": "boolean"
                    },
                    "expiry_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "string"
                    }
                  }
                },
                "api_key": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "clip_response": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string"
                },
                "previous": {
                  "type": "string"
                },
                "results": {
                  "type": "array",
                  "items": {
                  }
                }
              }
            }
          }
        }
      },
      "ClipExportResponse": {
        "description": "Response for Clip Export List",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "example": 123
                },
                "next": {
                  "type": "string",
                  "example": "http://api.example.org/accounts/?page=4"
                },
                "previous": {
                  "type": "string",
                  "example": "http://api.example.org/accounts/?page=2"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "format": "uuid",
                        "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-27T06:47:15.497Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-27T06:47:15.497Z"
                      },
                      "elapsed_time": {
                        "type": "integer",
                        "example": 0
                      },
                      "clip_file": {
                        "type": "string",
                        "example": "string"
                      },
                      "clip_audio_file": {
                        "type": "string",
                        "example": "string"
                      },
                      "status": {
                        "type": "string",
                        "example": "pending"
                      },
                      "started_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-27T06:47:15.497Z"
                      },
                      "ended_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-27T06:47:15.497Z"
                      },
                      "cancelled_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-27T06:47:15.497Z"
                      },
                      "clip_start_time": {
                        "type": "integer",
                        "example": 0
                      },
                      "clip_end_time": {
                        "type": "integer",
                        "example": 0
                      },
                      "clip_width": {
                        "type": "integer",
                        "example": 0
                      },
                      "clip_height": {
                        "type": "integer",
                        "example": 0
                      },
                      "clip_x": {
                        "type": "integer",
                        "example": 0
                      },
                      "clip_y": {
                        "type": "integer",
                        "example": 0
                      },
                      "clip_fit_color": {
                        "type": "string",
                        "example": "string"
                      },
                      "job_uuid": {
                        "type": "string",
                        "format": "uuid",
                        "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      },
                      "thumbnail": {
                        "type": "string",
                        "example": "string"
                      },
                      "burn_subtitles": {
                        "type": "boolean",
                        "example": true
                      },
                      "highlight_subtitle_word": {
                        "type": "boolean",
                        "example": true
                      },
                      "preview_height": {
                        "type": "integer",
                        "format": "int32",
                        "example": 2147483647
                      },
                      "preview_width": {
                        "type": "integer",
                        "format": "int32",
                        "example": 2147483647
                      },
                      "created_by": {
                        "type": "string",
                        "format": "uuid",
                        "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      },
                      "clip": {
                        "type": "string",
                        "format": "uuid",
                        "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ClipExportCreateResponse": {
        "description": "Response for Clip Export Details",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "format": "uuid",
                  "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2023-10-27T06:53:58.812Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2023-10-27T06:53:58.812Z"
                },
                "elapsed_time": {
                  "type": "integer",
                  "example": 0
                },
                "clip_file": {
                  "type": "string",
                  "example": "string"
                },
                "clip_audio_file": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "pending"
                },
                "started_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2023-10-27T06:53:58.812Z"
                },
                "ended_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2023-10-27T06:53:58.812Z"
                },
                "cancelled_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2023-10-27T06:53:58.812Z"
                },
                "clip_start_time": {
                  "type": "integer",
                  "example": 0
                },
                "clip_end_time": {
                  "type": "integer",
                  "example": 0
                },
                "clip_width": {
                  "type": "integer",
                  "example": 0
                },
                "clip_height": {
                  "type": "integer",
                  "example": 0
                },
                "clip_x": {
                  "type": "integer",
                  "example": 0
                },
                "clip_y": {
                  "type": "integer",
                  "example": 0
                },
                "clip_fit_color": {
                  "type": "string",
                  "example": "string"
                },
                "job_uuid": {
                  "type": "string",
                  "format": "uuid",
                  "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                },
                "thumbnail": {
                  "type": "string",
                  "example": "string"
                },
                "burn_subtitles": {
                  "type": "boolean",
                  "example": true
                },
                "highlight_subtitle_word": {
                  "type": "boolean",
                  "example": true
                },
                "preview_height": {
                  "type": "integer",
                  "format": "int32",
                  "example": 2147483647
                },
                "preview_width": {
                  "type": "integer",
                  "format": "int32",
                  "example": 2147483647
                },
                "created_by": {
                  "type": "string",
                  "format": "uuid",
                  "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                },
                "clip": {
                  "type": "string",
                  "format": "uuid",
                  "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Authentication header of the form `Api-Key <key>`, where <key> is your api key."
      },
      "jwtAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "JWT authentication header of the form `JWT <token>`, where `<token>` is your auth token."
      }
    }
  }
}